# 문제 1: 판매 데이터 분석 및 고급 데이터 처리

### 데이터 설명:
매장에서 판매되는 상품의 판매 데이터를 포함하고 있습니다. 데이터는 상품 카테고리, 날짜, 매출, 판매 수량 등을 포함하며, 이를 통해 각 카테고리별 매출 비율 및 주중/주말별 판매 패턴을 분석해야 합니다.

### 요구사항:
1. 상품 카테고리별로 총 매출과 평균 매출을 계산하세요.
2. 날짜를 기준으로 주중/주말을 구분하고, 주중과 주말의 평균 매출 차이를 계산하세요.
3. 매출 데이터를 이용해 매출 비율(전체 매출에서 해당 상품의 비율)을 계산하여 새로운 컬럼에 추가하세요.
4. pivot_table을 사용하여 각 상품 카테고리와 주중/주말별 매출 합계를 구하세요.
5. 최종 분석 결과를 시각화하여 간단한 인사이트를 도출하세요.

In [2]:
# 데이터 생성 코드
import pandas as pd
import numpy as np
np.random.seed(42)
data = {
    'Product_Category': np.random.choice(['A', 'B', 'C', 'D'], size=500),
    'Date': pd.date_range(start='2023-01-01', periods=500),
    'Sales': np.random.randint(1000, 5000, size=500),
    'Quantity_Sold': np.random.randint(1, 100, size=500)
}
df = pd.DataFrame(data)
df.head()

  Product_Category       Date  Sales  Quantity_Sold
0                C 2023-01-01   1190              6
1                D 2023-01-02   3300             82
2                A 2023-01-03   1980             69
3                C 2023-01-04   3975             47
4                C 2023-01-05   3006             25

### 풀이:
아래의 코드는 위의 요구사항을 해결하기 위해 Pandas를 사용하여 데이터를 분석하고 처리하는 과정을 포함합니다.

In [4]:
# 1. 상품 카테고리별 총 매출 및 평균 매출 계산
category_sales = df.groupby('Product_Category')['Sales'].agg(['sum', 'mean']).reset_index()
category_sales

  Product_Category     sum         mean
0                A  363793  2981.909836
1                B  323251  2993.064815
2                C  380611  3119.762295
3                D  446476  3016.729730

In [ ]:
# 2. 주중/주말 구분 및 평균 매출 차이 계산
df['Weekday'] = df['Date'].dt.weekday
df['Is_Weekend'] = df['Weekday'].apply(lambda x: 'Weekend' if x >= 5 else 'Weekday')
weekend_sales = df.groupby('Is_Weekend')['Sales'].mean()
weekend_sales

In [ ]:
# 3. 매출 비율 계산
total_sales = df['Sales'].sum()
df['Sales_Ratio'] = df['Sales'] / total_sales
df[['Product_Category', 'Sales', 'Sales_Ratio']].head()

In [ ]:
# 4. pivot_table을 사용한 주중/주말별 매출 합계
pivot_table_sales = pd.pivot_table(df, values='Sales', index='Product_Category', columns='Is_Weekend', aggfunc='sum').reset_index()
pivot_table_sales

In [ ]:
# 5. 시각화
import matplotlib.pyplot as plt
pivot_table_sales.plot(kind='bar', x='Product_Category', stacked=True)
plt.title('Sales by Category and Weekend/Weekday')
plt.show()